.card-list {
  width: 75vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media only screen and (max-width: 64.0625em) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media only screen and (max-width: 39.6875em) {
  .card-list {
    grid-template-columns: repeat(2, auto);
    width: 100%;
    margin: 0 auto;
  }
}
