.search {
  display: block;
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 1rem;
  line-height: 3rem;
  margin: 0 auto 3rem;
  width: 40vw;
}

@media only screen and (max-width: 64.0625em) {
  .search {
    width: 75vw;
  }
}
